body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000;
}

h2 {
  font-weight: 600;
  font-family: 'Pixelated MS Sans Serif', Arial;
}

.window {
  margin: 10px 30px;
}

.window-body {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.fano,
.hafmana {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.formInput {
  padding: 20px;
  resize: none;
  height: 200px;
  margin-bottom: 20px;
  font-size: 15px;
  word-break: break-all;
  overflow-y: scroll;
  overflow-x: hidden;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.encode {
  margin-right: 30px;
}

.decode {
  margin-right: 30px;
}

.file-input {
  display: none;
}

.stats {
  word-break: break-all;
}

.stats,
.alphabetContainer {
  overflow-y: scroll;
  background-color: #fff;
  padding: 20px;
  overflow-x: hidden;
  height: 200px;
  width: 250px;
  font-size: 15px;
}

.stats > p,
.alphabetContainer > p {
  margin-top: 0;
}
